* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 10px 0;
    background-color:#add8e6;
}
.header {
    background-color: #daa520;
    justify-content: space-between;
}

.logo, .login{
    flex-basis: 20%;
}

.login {
    text-align: right;
}

.link {
    flex-basis: 60%;
    text-align: center;
}

.logo, .link, .login {
    border: 2px dashed black ;
    padding: 5px;
}

.section {
    padding: 40px 0;
}

.section-first {
    background-color: #00008b;
}

.content-section-first {
    flex-basis: 75%;
    height: 350px;
    border: 2px dashed black;
    margin: auto;
    background-color: #ee82ee;
}

.content-section-main {
    border: 2px dashed black;
    height: 390px;
    flex-basis: 100%;
}

.col-1-main {
    flex-basis: 60%;
    border: 2px dashed black;
    height: 100%;
    background-color:#9e10ff ;
}

.col-2-main {
    flex-basis: 40%;
    height: 100%;
    background-color: #ffc0cb;
}

#reverse {
    flex-direction: row-reverse;
}

.rev, .last {
    background-color:#d3d3d3 ;
}

.content-section-last {
    height: 780px;
    border: 2px dashed black;
    flex-basis: 100%;
    background-color: #228b22;
}

.footer1 {
    padding: 15px 0 35px 0;
    border-bottom: 2px solid white;
    background-color: #23272a ;
}

.first-footer {
    border: 2px dashed black;
    height: 450px;
}

.col-2-footer1, .col-3-footer1, .col-4-footer1, .col-5-footer1 {
    flex-basis: 17%;
    background-color: #20b2aa;
    border: 2px dashed white;
}

.col-1-footer1 {
    flex-basis: 32%;
    background-color: #f08080;
    border: 2px dashed black;
}

.footer2 {
    padding-top: 20px;
    border-bottom: 2px solid white;
    background-color: #23272a;
}

.last-footer {
    justify-content: space-between;
    background-color:#7fffd4 ;
    padding: 20px 0 20px 0;
}

.logo1, .bottone {
    padding: 5px;
    border: 2px dashed black;
    background-color:#ffb6c1;
}